$font-light: "PPNeue Montreal Light", monospace;
$font-regular: "PPNeue Montreal Regular", monospace;
$font-bold: "PPNeue Montreal Bold", monospace;

$color-background: #f6f4f1;
$color-text: #000;
$color-highlight: #ee241d;
