@font-face {
  font-family: "PPNeue Montreal Light";
  src: url("font/PPNeueMontreal-Light.otf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "PPNeue Montreal Regular";
  src: url("font/PPNeueMontreal-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "PPNeue Montreal Bold";
  src: url("font/PPNeueMontreal-Bold.otf") format("truetype");
  font-weight: 600;
}
body {
  margin: 0;
  font-family: "PPNeue Montreal Bold", monospace;
  background-color: #f6f4f1;
  color: #000;
  display: flex;
  height: 100vh;
}

.transition-fade {
  opacity: 1;
  transition: 0.8s;
  transform: translateY(0);
}

html.is-animating .transition-fade,
html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateY(-10%);
}

@keyframes drawBorder {
  0% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@keyframes drawVerticalLine {
  0% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 6rem;
    bottom: 0;
  }
}
.sidebar {
  z-index: 10000;
  width: 3.5rem;
  font-family: "PPNeue Montreal Regular", monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 2rem 0;
}
.sidebar .social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.sidebar .social-links a {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin: 1rem 0;
  position: relative;
  transition-duration: 0.3s;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.sidebar ul li a {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin: 1rem 0;
  position: relative;
  transition-duration: 0.3s;
}
.sidebar .name {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin: 1rem 0;
  position: relative;
  transition-duration: 0.5s;
}
.sidebar::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 0;
  background-color: #000;
  animation: drawBorder 1s ease-in-out forwards;
}

.vertical-line {
  width: 1px;
  height: 0;
  background-color: #000;
  border: none;
  margin: 1rem 0;
  position: relative;
  animation: drawVerticalLine 0.25s ease-in-out 0.5s forwards;
}

strong {
  color: #ee241d;
}

#a {
  transition-delay: 600ms;
}

#b {
  transition-delay: 800ms;
}

#c {
  transition-delay: 1000ms;
}

#d {
  transition-delay: 1200ms;
}

#e {
  transition-delay: 1400ms;
}

#f {
  transition-delay: 1600ms;
}

.hiddenN {
  opacity: 0;
  transform: translateX(-50%);
  animation-duration: 0.5s;
}
.hiddenN.showN {
  opacity: 1;
  transform: translateX(0%);
}

/* ------------------------------------ Text Apparition -------------------------------------------*/
.line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.word {
  transform: translateY(4rem);
  transition: transform 0.5s;
}

/* ----------------------------------------- Hour -------------------------------------------------*/
.DateHour {
  font-family: "PPNeue Montreal Regular", monospace;
  position: fixed;
  bottom: 0;
  right: 1rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentHome {
  padding: 0 5rem 0 7.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.contentHome .text-and-image {
  display: contents;
}
.contentHome .textHeading {
  font-size: 5vmin;
  margin-right: 1rem;
  grid-column: 1/2;
  font-weight: 400;
  margin: 0;
}
.contentHome .holder {
  overflow: hidden;
  width: 100%;
  grid-column: 2/3;
}
.contentHome .holder .portrait {
  width: 100%;
  animation: fadeInScale 1s ease-in-out forwards;
  opacity: 0;
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 0 5rem 0 7.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.content .AboutHeading {
  font-size: 5vmin;
  grid-column: 1/2;
  font-weight: 400;
  margin: 0;
}
.content .text-and-image {
  display: contents;
}
.content .holder {
  overflow: hidden;
  width: 100%;
  grid-column: 2/3;
}
.content .holder .portrait {
  width: 100%;
  animation: fadeInScale 1s ease-in-out forwards;
  opacity: 0;
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.PjLineBF {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 1px;
  width: 0;
  border: none;
  left: 0;
}

.PjLine {
  transition: width 0.6s ease-in-out;
}

li.project.hovered ~ hr.PjLine,
li.project.hovered + hr.PjLine {
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contentWork {
  padding: 0 3rem 0 5.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-content: space-between;
  gap: 8rem;
  width: 80vw;
  align-content: center;
}
.contentWork ul {
  place-self: end;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.contentWork .project {
  margin: 1rem 0;
}
.contentWork .project a {
  color: #000;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.contentWork .project a span {
  font-size: 2.2vmin;
  margin: 0;
}
.contentWork .project a h2 {
  margin: 0;
  font-size: 3vmin;
}
.contentWork img {
  height: 70vh;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 0 5rem 0 7.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.content .text-and-image {
  display: contents;
}
.content .holder {
  overflow: hidden;
  width: 100%;
  grid-column: 2/3;
}
.content .holder .portrait {
  width: 100%;
  animation: fadeInScale 1s ease-in-out forwards;
  opacity: 0;
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
